.rex {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .rex {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}