// colors
$color-1: #090B1A; // blue dark  #090B1A  #1A212C
$color-2: #D13F32; // red D40D12
$color-3: #71B095; // light mint
$color-4: #1D7872; // dark mint
$off-white-color: #DEDBA7;  // cream
$black: #000000;
$primary-color: #021725; // blue dark

// fonts 
$primary-font: 'Open Sans', helvetica;
$body-font: 'Open Sans', helvetica;
$title-font: helvetica, sans-serif;

// z-index 
$secondary-bar-zindex: 1;
$intro-zindex: 2;
$header-zindex: 3;

// header height 
$header-S: 50px;
$header-M: 70px;
$header-L: 90px;

//intro height
$intro-height-S: 300px;
$intro-height-M: 400px;
$intro-height-L: 600px;

//secondary bar
$bar-height-full: 100px;
$bar-height: 70px;